* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #161a20;
  color: white;
  scroll-behavior: smooth;
}
.container {
  max-width: 1600px;
  margin: auto;
  /* background: teal; */
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .logo {
  width: 70px;
  padding: 10px;
}
.nav a {
  text-decoration: none;
  color: white;
  background-color: #25c6c6;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: capitalize;
}

/* main scetion */
.main {
  display: flex;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.main h1 {
  padding-bottom: 10px;
  color: #24ffff;
}
/* a {
  display: block;
} */

.main .about {
  max-width: 500px;
  width: 100%;
  padding: 10px 0;
}
.main .typing-text {
  width: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: type 2s ease-in-out alternate infinite;
}
@keyframes type {
  100% {
    width: 200px;
  }
}
.main .social {
  padding: 10px 0;
}
.main .social a {
  padding: 10px;
  display: inline-block;
}

.main .icon {
  width: 25px;
}
.main .img {
  border-radius: 50%;
  margin-top: 50px;
  border-bottom-right-radius: 0px;
  border: 2px solid;
  max-width: 200px;
}
h2 {
  text-align: center;
  text-transform: capitalize;
  max-width: 225px;
  margin: auto;
}

/* .flex {
  display: flex;
  justify-content: center;
  min-height: 500px;
  align-items: center;  }*/

.about p {
  text-transform: capitalize;
  line-height: 25px;
}
.about .content {
  max-width: 500px;
  margin: 50px auto;
}

.boxs {
  position: relative;
  padding: 50px 0;
}

img {
  max-width: 400px;
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
.box {
  display: flex;
  gap: 50px;
  align-items: center;
  position: relative;
}
.box-img {
  width: 100%;
  z-index: 1;
  position: relative;
}
.box-contant {
  width: 100%;
  padding-left: 15px;
}
.box-contant ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.box-contant ul li {
  border: 2px solid rgba(247, 247, 245, 0.316);
  padding: 2px 10px;
  border-radius: 10px;
}
.box-contant h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: orange;
}
.box-contant p {
  padding: 20px 0;
}
.box-contant p::first-letter {
  text-transform: capitalize;
}
.project-section h2 {
  border: 5px solid #1788ae;
  color: #1788ae;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: auto;
  /* width: fit-content; */
  padding: 10px;
  /* margin-bottom: 50px; */
}
.project-section .s-h2 {
  border-top: 5px solid;
  padding: 10px;
  margin-bottom: 50px;
}

.vertical-line {
  width: 2px;
  height: 100%;
  background: #1788ae;
  position: absolute;
  left: 50%;
  opacity: 0.7;
  transform: translateX(-50%);
  top: 0;
}
/* @keyframes load1 {
  0% {
    height: 30%;
    background-color: #f12d1b;
  }
  50% {
    height: 70%;
    background-color: #639;
  }
  100% {
    height: 100%;
  }
} */

.horizontal {
  width: 35%;
  right: 50%;
  height: 4px;
  background-color: #1788ae;
  position: absolute;
  top: 50%;
  opacity: 0.7;
  transform: translateY(-50%);
}
.circle {
  width: 14px;
  height: 14px;
  right: 50%;
  top: 50%;
  z-index: 1;
  border: 3px solid #2694d4;
  border-radius: 50%;
  background-color: rgb(245, 233, 245);
  position: absolute;
  transform: translateX(50%);
  transform: translate(50%, -50%);
}
.circle:hover {
  transform: translate(50%, -50%) scale(1.2);
  cursor: pointer;
}
.container .box2 .horizontal {
  background-color: #639;
  left: 50%;
}
.container .box1 .circle {
  border-color: #f12d1b;
}
.container .box1 .horizontal {
  background-color: #f12d1b;
}
.container .box1 h3 {
  color: #f12d1b;
}

/*  */
.container .box2 h3 {
  color: #639;
}
.container .box2 .circle {
  border-color: #639;
}
.container .box3 .circle {
  border-color: #47afa1;
}
.container .box3 .horizontal {
  background-color: #47afa1;
}
.container .box3 h3 {
  color: #47afa1;
}
.container .box4 .circle {
  border-color: #ff5553;
}
.container .box4 h3 {
  color: #ff5553;
}
.container .box4 .horizontal {
  background-color: #ff5553;
  left: 50%;
}
.box:nth-child(even) .box-img {
  display: flex;

  justify-content: flex-end;
}

/* check box */
input[type="checkbox"] {
  height: 2rem;
  width: 4rem;
  border: 3px solid white;
  border-radius: 2.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  position: relative;
}
input[type="checkbox"]::before {
  content: "";
  height: 1rem;
  width: 1rem;
  background-color: white;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0.1575rem;
  bottom: 0;
  border-radius: 50%;
  /* box-shadow: 5px -1px 15px #c3c3c3, -3px 2px 17px 0px rgb(189 189 189 / 60%); */
  transition: 0.15s;
}
input[type="checkbox"]::after {
  content: "Off";
  position: absolute;
  font-size: 1.2rem;
  top: 0.15rem;
  right: 0.6rem;

  color: #38b9b9;
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.004em;
}
input[type="checkbox"]:checked::after {
  content: "On";
  left: 0.6rem;
  color: #f5f5f7;
}
input[type="checkbox"]:checked {
  box-shadow: 1px 0px 6px 0px rgb(255 255 255 / 50%),
    inset 5px 6px 6px 20px #0047b9, inset -11px -10px 20px 20px #0047b9;
  background: #0071e3;
}
input[type="checkbox"]:checked::before {
  left: 2.3125rem;
  box-shadow: none;
}
.education {
  border-left: 2px solid #bababa;
  padding: 0 30px;
  margin: 50px 0;
}

.education .ed {
  margin-bottom: 20px;
  color: #161a20;
  /* text-align: center; */
  background-color: #ffffff;
  position: relative;
  border: 1px solid #eaeaea;
  padding: 20px;
  /* max-width: 500px; */
  margin: 20px auto;
  cursor: pointer;
  transition: all 0.4s;
}
.education .ed:hover {
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}
.education .ed::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: calc(100% + 22px);
  top: 0px;
  border-radius: 100%;
  background-color: #11a372;
  border: 2px solid white;
}
.education h4 {
  color: #11a372;
}
.education h3 {
  font-size: 1.3rem;
  padding: 10px 0px 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}
.education p {
  line-height: 1.2;
  color: #666;
  font-size: 1.1rem;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form input {
  margin-bottom: 20px;
  /* height: 35px; */
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  text-transform: capitalize;
}
.form input:focus {
  outline: 3px solid #4881ac;
}
textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  text-transform: capitalize;
  resize: none;
}
textarea:focus{
  outline: 3px solid #4881ac;
}
button {
  margin-top: 20px;
  background-color: #d11131;
  color: #f5f5f7;
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
  transition:cubic-bezier(0.165, 0.84, 0.44, 1);
  text-transform: capitalize;
}
button:hover{
  background-color: #0047b9;
}
@media screen and (max-width: 768px) {
  .box {
    flex-direction: column;
    /* display: block; */
    justify-content: center;
  }
  .container {
    padding: 0 16px;
    width: 100%;
  }
  .box-img,
  .box-contant {
    width: auto;
    text-align: center;
  }
.box-contant ul li{
  padding-inline: 9px;
}
  .circle,
  .horizontal,
  .vertical-line {
    display: none;
  }
  .box {
    /* padding-left: 20px; */
    /* text-align: center; */

    padding-bottom: 20px;
  }
  .box:nth-child(even) {
    flex-direction: column-reverse;
  }
  .container .box4 .horizontal,
  .container .box2 .horizontal,
  .container .box1 .horizontal,
  .container .box3 .horizontal {
    left: 0;
  }

  input[type="checkbox"] {
    height: 1.5rem;
    width: 3rem;
  }

  input[type="checkbox"]:checked:before {
    left: 1.5rem;
  }
  input[type="checkbox"]::after {
    content: "Off";
    position: absolute;
    font-size: 0.8rem;
    top: 10%;
    right: 0.4rem;
  }
  input[type="checkbox"]:checked::after {
    content: "On";
    left: 0.3rem;
  }
 
  .education .ed::before{
    display: none;
  }
  .education{
    padding: 0;
    border: 0;
  }
}
